.audios {
  background-color: #ccc1da;
  /* padding-left: 10px;
  padding-top: 10px; */
  padding: 20px;
  padding-left: 20px;
  width: 400px;
}

.women {
  width: 50px;
  margin-left: 40px;
}
.foot-img {
  width: 300px;
}
